corse{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}



.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.corse-col{
    flex-basis: 31%;
    background: #fff3ff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color:    #f0eeef;
    
}
 
h2{
    text-align: center;
    font-size: 600;
    margin: 10px 0;
    color: #40E0D0;
}

h1{
  text-align: center;
  font-size: 600;
  margin: 10px 0;
  color: #E6E6FA;
}



header{
    width:100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4,9,30,0.7)), url(img/img_01.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 10% 20%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}



nav {
  
  padding: 10px 0;
  text-align: center;
}

.logo img {
  max-height: 80px;
  margin-bottom: 10px;
}

.nav-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline-block;
  margin: 0 15px;
}

.nav-links li a {
  color: #40E0D0; /* Color de los enlaces */
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.nav-links li a:hover {
  color: #ffffff; /* Color al pasar el mouse */
}



.footer .social-icons {
  margin-top: 10px;
}

.footer .social-icons a {
color: #19051ae2;  margin: 0 10px;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer .social-icons a:hover {
  color: #e80b0b; /* dorado al pasar el cursor */
}

.footer {
  background-color: #f27ab8;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
}

.footer .inline-icons a {
  color: #07f717e2;
  margin: 0 8px;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease;
}